<a href="https://colab.research.google.com/github/vaniseth/Regular-Expressions/blob/main/Extraction_and_Word_Replacement_from_Server_Logs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EXTRACTION AND WORD REPLACEMENT FROM SERVER LOGS**

# QUESTION MARK

Question mark ? is the option regex meaning 0 or 1 occurrence.

Question mark ? can also be used in combination with other special characters and means something else.

Asterisk * means 0 or more occurence of the preceding element.

By default, the engine returns "more occurences" (greedy). If we want to force the 0 occurences, we use "?" after the " * " (non-greedy)

In [1]:
import re

In [2]:
text = 'abcdefghujhg'

In [3]:
re.findall('ab.*', text) 

# this means that we want ab and any character 0 or more occurence.
# . means any charcter 
# * means 0 or more

['abcdefghujhg']

In [4]:
re.findall('ab.*?', text)

['ab']

In [6]:
text1 = 'peter piper picked a peck of pickled peppers'

In [7]:
re.findall('p.*e.*r', text1)  

# here the regex engine searches for more occurences, i.e., basically all occurneces.
# it's a greedy search here
# all of it comes in one list so it searchs for the first p and then the first e and then more more more till the last r.
# due to this reason list is only till pepper and not till peppers.

['peter piper picked a peck of pickled pepper']

In [8]:
re.findall('p.*?e.*?r', text1)

# here we get a list of 3 elements as we are non greedy.
# we wanted the element to contain p, e, and r but all in different elements.
# so we apply the non-greedy approach here.
# that is why we get peter, piper and the last string as in that the last element is r.
# here it finds the p and then the e and then the r and then it stops 
# that is why there are 3 elements.

['peter', 'piper', 'picked a peck of pickled pepper']

# PROBLEM 1

Find a match that starts with 'crypto', then matches at the most 30 arbitrary characters and match ends when the last word is 'coin'

In [9]:
text = 'crypto-bot that is trading Bitcoin and other currencies.'

# here we want a match when there are 30 characters between crypto and coin, if not then we don't want a match.

In [10]:
re.match('crypto(.{1,30})coin', text)

# the () after the crypto here creates a group
# (.{1,30}) means that we want a group of any character ( . ) but from {1,30} 1 to 30 at the most.
# then at the end we want coin so it's written after the group paranthesis.

# PROBLEM 2

Given a string, find a list of all the occurences of dollar amounts with optional Regular Expressions decimal values.

In [11]:
text = '''
If you invested $1 in the year 1801, you would have $18087791.41 today.
This is a 7.967% return on investment.
But if you invested only $0.25 in 1801, you would end up with $4521947.8525.
'''

In [12]:
# The problem statement says that we want all the occurence of the $ that is $1, $1801... and so on

In [13]:
re.findall('(\$[0-9]+(\.[0-9]*)?)', text)

# now here we create a group.
# $ has a special meaning in Regex so to escape that and say that we want the actual character $ we use \
# after the dollar group we create another group for the point 
# we write (\.[0-9]*) because we want all the character 0-9 and we want put the * becuase we want 0 or morre occurence of the nummbers after the point.
# the ? is for the non-greedy approach.

[('$1', ''),
 ('$18087791.41', '.41'),
 ('$0.25', '.25'),
 ('$4521947.8525', '.8525')]

In [14]:
# this gives a list of tuples, first we have the dollar amount
# and then we have the amoubt after the dollar sign

# PROBLEM 3

Replace Alice Wonderland with 'Alice Dow', but not to replace occurences of 'Alice Wonderland' when you see single quotes.

The problem statement wants to change Alice Wonderland to Alice Doe but if Alice Wonderland is in quotes then we don't want to change it.

**The negative lookahead.**

Denoted by: ?!

It means that we are going to look ahead of the current position and if we find the specific character then we are not going to do anything with it.

In [15]:
text = '''
Alice Wonderland married John Doe.
The new name of former 'Alice Wonderland' is Alice Doe.
Alice Wonderland replaces her old name 'Wonderland' with her name 'Doe'.
Alice's sister Jane Wonderland still keeps her old name.
'''

In [16]:
re.sub('Alice Wonderland(?!\')', 'ALice Doe', text)

# sub function is used for replacement but not if it's between quotes.
# regex is ALice Winderland
# and after that is the group which is a negative lookahead of the quote
# \' is used so that it does not think that it is the end of the regex

"\nALice Doe married John Doe.\nThe new name of former 'Alice Wonderland' is Alice Doe.\nALice Doe replaces her old name 'Wonderland' with her name 'Doe'.\nAlice's sister Jane Wonderland still keeps her old name.\n"